<h1>burger_name!</h1>

<h2>Burgers!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block }}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">
  <textarea id="burger-name" cols="30" rows="5"></textarea>
  <button type="submit">submit</button>
</form>
